# ================================
#       LinkIt Ignore List
# ================================

# Folders:
LinkIt/Library/
LinkIt/obj/
LinkIt/Temp/
LinkIt/Builds/

# Filetypes:
*.sln
*.suo

# ================================
*.info